* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul,
li,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

input,
button {
	border: none;
}


.container{
    display: flex;
    height: 100vh;
}


.img_user{
    max-width: 30%;
}

.user_immg {

    aspect-ratio: 1/1;
    border-radius: 999px;
    overflow: hidden;
    height: 64px;
    flex-shrink: 0;
}



/* *****************
*****SIDEBARRRR*****
****************** */

.sidebar{
    width: 40vh;
    /* background-color: yellow; */
    /* display: flex;
    justify-content: space-between; */
}

.header_sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
  
    
}

.card_img{
    display: flex;
    align-items: center;
    gap: 10px;
}


.icons{

    display: flex;
    align-items: center;
    gap: 20px;

}





/* *****************
***BODYYYYY CHAT****
****************** */


.body_caht{
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #eaeaea6f;
    padding: 7px 12px;
   
  
}




.header_body .user-input {
    flex-grow: 1;
    border-radius: 8px;
    line-height: 45px;
    padding: 0 20px;
}



.avatar_user_contact{
    display: flex;
    align-items: center;
    gap: 15px;
}





/* *************+seconda sidebar************** */



.card.alert {
    display: flex;
    align-items: center;
    gap: 16px;
}



.sidebar_alert {
    background-color: #8edafc;
    padding: 12px 20px;
}

.sidebar_alert .alert__icon {
    color: #8edafc;
    background-color: white;
}


.alert__icon {
    border-radius: 999px;
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.search-bar {
    padding: 6px 8px;
    background-color: #fafafa;
}


.input-group {
    display: flex;
    position: relative;
}

.input-group__btn {
    position: absolute;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 18px;
    z-index: 10;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #979797;
    pointer-events: none;
}


.input-group input {
    flex-grow: 1;
    line-height: 36px;
    padding: 0 12px 0 87px;
}






.toolbar {
    background-color: #eaeaea;
    padding: 6px 14px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
    justify-content: space-between;
 
}

.user-input{
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
}

.icon-toolbar{
    font-size: 20px;
}

.body_chat {
    background-image: url('../img/mine.jpg');
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    flex-grow: 1;
}


.message.received {
    background-color: white;
    align-self: flex-start;
    background-color: #d5f9ba;
    padding: 20px;
    max-width: 60%;
    border-radius: 17px;
    position: relative;
    margin-bottom: 10px;

}

.message.sent {
    background-color: #d5f9ba;
    padding: 17px;
    border-radius: 17px;
    position: relative;
    margin-bottom: 10px;

}

.message .time {
    position: absolute;
    bottom: 3px;
    right: 14px;
    color: #979797;
    font-size: 13px;
    font-weight: 800;
}
  
    .toolbar .card .contact__thumb {
        height: 50px;
    }

    .side-contacts{
        padding: 8px 6px 8px 1px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 24px;
    }
    
    
    .card .contact__thumb {
        aspect-ratio: 1/1;
        border-radius: 999px;
        overflow: hidden;
        height: 64px;
        flex-shrink: 0;
    }
    
    .card .contact__thumb img {
        display: block;
    }

 
    .side-contacts:hover,
    .side-contacts:active {
        background-color: #e9ebeb;
    }
    

    .card_user{
        display: flex;
        gap: 10px;
    }